* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* TASK-1 */

#categories {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  background: #f6f6fe;
  min-width: 392px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

/* TASK-2 */

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  row-gap: 48px;
  column-gap: 24px;
}

/* TASK-3 */
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  padding: 8px 16px;
  margin-top: 20px;
}
#name-input::placeholder {
  color: #2e2f42;
}

/* TASK-4 */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  border-radius: 8px;
  padding: 24px;
  min-width: 408px;
  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.15);
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label input {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  padding: 8px 16px;
}

.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.login-form button:hover,
.login-form button:focus {
  background-color: #6c8cff;
}

/* TASK-5 */
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border-radius: 8px;
  padding: 24px;
  min-width: 345px;
  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.15);
}

.widget button {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.widget button:hover,
.widget button:focus {
  background-color: #6c8cff;
}
